{% extends "base.html" %}
{% block title %}Withdrawal Completed{% endblock %}
{% block includes %}
<link rel="stylesheet" type="text/css" href="/static/css/forms.css">
<link rel="stylesheet" type="text/css" href="/static/css/buttons.css">
<link rel="stylesheet" type="text/css" href="/static/css/buy_gold.css">
<link rel="stylesheet" type="text/css" href="/static/css/cover.css">
<script src="/scripts/withdraw.js"></script>
{% endblock %}
{% block content %}
<h1>Withdrawal Completed</h1>
Congratulations, you successfully withdrew your gold.  You will receive a check within 4 weeks.<br>
<br>
<a href="/">Go home</a>
{% endblock %}
