{% extends "base.html" %}
{% block title %}Terms of Service{% endblock %}
{% block content %}
<h1>Terms of Service</h1>
<p>We reserve the right to terminate your account for any reason.  While we include a list of things not to do below, the list can never be exhaustive.  In the case of account termination, any gold in your account will be returned to you (minus any bonuses) as long as we have determined that you didn't violate any rules to attain the gold; as always, we will use our discretion in these matters.</p>
<p><h2>Rules:</h2>
	<ul>
		<li>You must be 18 or older to participate</li>
		<li>You must not be an employee of any company involved in the production of a game we support</li>
		<li>You may not sell or purchase virtual items, currency, or game accounts or solicit anyone for this end</li>
		<li>You must own the account to which the characters on your QuestCompanions account belong; if it's not your character, don't claim it</li>
		<li>You may not attempt to defraud in any way another QuestCompanions user</li>
		<li>Use of abusive language, racial slurs, and other forms of offensive speech are not permitted; if you're on the forum or other social outlets, use your discretion</li>
		<li>Tampering with support data on jobs (e.g. modifying screenshots used to determine if a job was completed properly) is not permitted</li>
		<li>Seeking out, exploiting, or disclosing security vulnerabilities in the QuestCompanions website or any related software is not permitted without express permission; contact security@questcompanions.com for permission or to discuss security practices in place</li>
		<li>Playing for another player, e.g. by taking control of his or her game account, is not permitted under any circumstances</li>
		<li>Use of any QuestCompanions facility for advertisement or solicitation of services outside of the core QuestCompanions functionality is not permitted; this includes advertising gold selling services and the like</li>
	</ul>
</p>
<p>Should any of these rules be violated, we may at our discretion choose to terminate your account immediately or issue a warning, depending on the infraction and impact thereof.  The goal of QuestCompanions is to be a safe, friendly, secure place to match up players, and we will strictly enforce the rules to that end.  If you're not sure if something is acceptable or not, please contact support and ask us.  At the end of the day, remember what Bill and Ted told us in their adventures: Be excellent to each other, and party on.</p>
{% endblock %}
