@font-face {
font-family: "Museo100";
src: url(fonts/Museo100.otf);
}

@font-face {
font-family: "Museo900";
src: url(fonts/Museo900.otf);
}

body {
background-color: #170017;
background-image: url('../img/background2.png');
background-size: 100%;
color: white;
margin: 0;
padding: 0;
}

a {
color: #67CCF2;
}

.footer {
text-align: center;
font-family: "Museo100";
font-size: 14pt;
height: 100px;
margin-top: 100px;
background: #681e67;
}

.col {
width: 450px;
float: left;
}

.narrow {
width: 250px;
}

.wide {
width: 650px;
}
.content {
position: relative;
background: #ccc;
max-width: 940px;
min-height: 400px;
margin: 0 auto;
padding: 20px;
color: #444;
border-bottom-left-radius: 10px;
border-bottom-right-radius: 10px;
box-shadow: 0px 5px 30px #000;
}

.center {
width: 400px;
margin: 0 auto;
display: block; 
text-align: center;
}
