@font-face {
font-family: "Museo100";
src: url(/static/fonts/Museo100.otf);
}

@font-face {
font-family: "Museo900";
src: url(/static/fonts/Museo900.otf);
}

* {
  font-family: "Museo100", verdana, sans-serif;
  font-size: 16px;
}
body {
background-color: #170017;
background-image: url('../img/background2.png');
background-size: 100%;
background-repeat: no-repeat;
color: white;
margin: 0;
padding: 0;
}

a {
color: #681E67;
}

.footer {
text-align: center;
font-family: "Museo100", verdana, sans-serif;
font-size: 14pt;
height: 100px;
margin-top: 100px;
background: #681e67;
width:100%;
}

.stuck {
position: absolute;
bottom: 0;
}

.footer a
{
color: #fff;
}



.col {
width: 450px;
float: left;
margin-right: 20px;
}

.narrow {
width: 250px;
}

.wide {
width: 650px;
}

@media screen and (max-width: 980px)
{
  .col {
width: 100%!important;
  text-align: center;
  }
}

.content {
position: relative;
background: #fff url("../img/back.png") repeat;
max-width: 940px;
min-height: 400px;
margin: 0 auto;
padding: 20px;
color: #444;
border-bottom-left-radius: 10px;
border-bottom-right-radius: 10px;
box-shadow: 0px 5px 30px #000;
font-family: "Museo100", verdana, sans-serif;
}

.center {
width: 400px;
margin: 0 auto;
display: block; 
text-align: center;
}

h1, h2, h3, h4 {text-transform: capitalize; font-size: 150%; }
