input, textarea {
color: #777;
background: #f8f8f8;
border: 1px solid #ddd;
-moz-border-radius: 4px;
-webkit-border-radius: 4px;
-moz-background-clip: padding;
-webkit-background-clip: padding-box;
background-clip: padding-box;
box-shadow: inset 0px 2px 4px  rgba(0, 0, 0, .05);
-moz-box-shadow: inset 0px 2px 4px rgba(0,0,0, .05);
-webkit-box-shadow: inset 0px 2px 4px rgba(0, 0, 0, .05);
padding: 10px;
font-size: 14px;
max-width: 400px;
width:100%;
outline: none;
margin: 5px 0;
}

input[type="checkbox"] { width: auto; }

input[class~="narrow"] {
width: 73px;
}

.selector {
width: 420px;
overflow: hidden;
display: inline-block;
border-radius: 4px;
border: 1px solid #CECECE;
margin: 5px auto;
background: url("/static/img/arrow.png") center right no-repeat rgba(209, 209, 209, 0.5);
-webkit-margin-bottom: 10px;
}

.selector select {
-webkit-appearance: button;
width: 430px;
height: 40px;
background: transparent none;
border-width: 0;
font-size: 13pt;
color: dimGray;
padding: 8px;
}


.selector select option {
background: transparent none!important;
}

.form-row span {
color: #999;
font-size: .9em;
}

::-webkit-input-placeholder {
      color: #bbb;
}
:-moz-placeholder {
      color: #bbb;
}

textarea {
width: 100%;
  max-width: 400px;
}

.support {
max-width: -moz-calc(100% - 20px);
max-width: -webkit-calc(100% - 20px);
max-width: calc(100% - 20px);
}

.label, label {
width: 200px;
margin-top: 5px;
display: inline-block;
text-align: left;
display: block;
}

label.inline { display: inline; }

label[class~="small"]
{
  font-size: 14px;
width: 100px;
}

.form {
  max-width: 960px;
}

.error
{
  border-color: #a40000;
  color: #a40000;
  box-shadow: 0 0 5px #a40000;
}

.errMessage {
color: #a40000;
}
