
input,select,textarea {
-moz-border-radius: 15px;
border-radius: 7px;
background-color: #170017;
background-color: rgba(25, 0, 25, 0.5);
border: solid 1px #A400A2;
margin: 5px auto;
width: 400px;
font-size: 18pt;
color: #7D007C;
font-family: "Museo100", verdana, sans-serif;
outline: none;
padding-left: 5px;
}

select {
background-color: #888088;
}

::-webkit-input-placeholder {
      color: rgba(125, 0, 125, 0.5);
}
:-moz-placeholder {
      color: rgba(125, 0, 125, 0.5);
}

textarea {
width: 100%;
  max-width: 930px;
}

.label, label {
font-size: 26px;
width: 180px;
margin-right: 10px;
display: inline-block;
text-align: right;
}

.form {
  max-width: 960px;
}
