.header{
height: auto;
margin: 0 auto 10px;
}

.logo {
height: 32px;
width: 40px;
background: url("../img/logo.png") no-repeat;
background-size: auto 32px;
display: block;
margin: 16px auto;
cursor: pointer;
}

.logotype {
height: 32px;
width: 200px;
background: url("../img/wordmark.png") 0 5px no-repeat;
background-size: auto 32px;
display:inline-block;
cursor: pointer;
}

.nav {
width: 920px;
margin: 0 auto;
border-radius: 5px;
background: -moz-linear-gradient(#14CCCC, #3D7C99);
background: -webkit-linear-gradient(#14CCCC, #3D7C99);
background: -moz-linear-gradient(#14CCCC, #3D7C99);
background: -ms-linear-gradient(#14CCCC, #3D7C99);
border-bottom: 1px solid #11B6BD;
box-shadow: 0 2px 0 #3D95A1;
padding:5px 10px;
}

.nav .tab {
display: inline-block;
padding: 11px 6px 14px;
color: #fff;
font-size: 16px;
font-weight: bold;
text-align: center;
text-decoration: none;
margin-left: -5px;
border-left: 1px solid rgba(255,255,255,0.1);
font-size: 14px;
}

.nav .tab:hover {
background: rgba(200,200,200,0.1);
}

.nav .tab:nth-of-type(1) {
background: white;
color: #1E5068;
border: 0;
border-radius: 3px;
padding: 5px 8px;
margin: 0 11px;
box-shadow: 0 2px 5px #3D5E99;
}

.nav .tab:nth-of-type(1):hover {
background: #eee;
}

.wrapnav {
float:right;
}
