.header{
height: auto;
margin: 0 auto 10px;
}

.logo {
height: 32px;
width: 40px;
background: url("../img/logo.png") no-repeat;
background-size: auto 32px;
display: block;
margin: 16px auto;
cursor: pointer;
}

.logotype {
height: 32px;
width: 200px;
background: url("../img/wordmark.png") no-repeat;
background-size: auto 32px;
display:inline-block;
margin-top: -10px;
cursor: pointer;
}

.nav {
height: 40px;
padding-top:20px;
width: 940px;
margin: 10px auto;
}

.nav .tab {
display: inline-block;
padding: 0 10px;
color: #fff;
font-size: 16px;
font-weight: 400;
text-align: center;
text-decoration: none;
background: rgba(200,200,200,0.1);
margin-left: -5px;
border-left: 1px solid rgba(255,255,255,0.1);
text-shadow: -1px -1px 0px rgba(0,0,0,0.9);
}

.nav .tab:nth-of-type(1) {
}

.nav .tab a:hover {
}

.nav .tab:hover {

}
.nav .tab:nth-of-type(1):hover {

}

.wrapnav {
float:right;
}
