ul {
width: 860px;
}

ul a .job{
padding: 10px;
border: 1px solid #999;
margin-top: -1px;
background: -moz-linear-gradient(rgba(255,255,255, 0.2), rgba(100,100,100, 0.2));
background: -webkit-linear-gradient(rgba(255,255,255, 0.2), rgba(100,100,100, 0.2));
background: -ms-linear-gradient(rgba(255,255,255, 0.2), rgba(100,100,100, 0.2));
background: linear-gradient(rgba(255,255,255, 0.2), rgba(100,100,100, 0.2));
width: 100%;
list-style: none;
line-height: 40px;
}

ul a:hover .job {
background: -moz-linear-gradient(rgba(255,255,255,0.2), rgba(190,120,190,0.2) );
background: -webkit-linear-gradient(rgba(255,255,255,0.2), rgba(190,120,190,0.2) );
background: -ms-linear-gradient(rgba(255,255,255,0.2), rgba(190,120,190,0.2) );
background: linear-gradient(rgba(255,255,255,0.2), rgba(190,120,190,0.2) );
}

ul a:active .job {
background: -moz-linear-gradient(rgba(236, 236, 236, 0.4), rgba(204, 204, 204, 0.2));
background: -webkit-linear-gradient(rgba(236, 236, 236, 0.4), rgba(204, 204, 204, 0.2));
background: -ms-linear-gradient(rgba(236, 236, 236, 0.4), rgba(204, 204, 204, 0.2));
background: linear-gradient(rgba(236, 236, 236, 0.4), rgba(204, 204, 204, 0.2));
}

ul a:nth-of-type(1) .job {
border-top-left-radius: 5px;
border-top-right-radius: 5px;
}

ul a:nth-last-of-type(1) .job {
border-bottom-left-radius: 5px;
border-bottom-right-radius: 5px;
}

.job .charLink {
height: 40px;
width: 40px;
margin-right: 10px;
}

.index ul, .jobs ul {
padding: 0;
margin: 0; 
}

.index ul a .job { width: 500px!important;}

.index .hasBids { float: right;}
