.noAcc {
padding-left: 5px;
}

body { 
background-color: #170017;
background-image: url('../img/background2.png');
background-size: 100%;
background-repeat: no-repeat;
color: #444;
margin: 0;
padding: 0;
}

.logo {
width: 197px;
height: 161px;
margin-left: auto;
margin-right: auto;
padding-top: 53px;
}

.name {
background-image: url('../img/wordmark.png');
width: 614px;
height: 99px;
margin-left: auto;
margin-right: auto;
margin-top: 20px;
}

.slogan {
font-size: 24pt;
text-align: center;
font-family: "Museo900", verdana, sans-serif;
padding-bottom: 20px;
}

.body {
margin-left: auto;
margin-right: auto;
text-align: center;
margin-top: 50px;
max-width:800px;
}

/*a {
color: #fff;
}*/

a:hover {
color: #67CBF1;
}

/* Customizations */
body {
background: #F9F9F9;
color: #555;
margin: 0;
padding: 0;
}

.header {
background-color: #170017;
background-image: url('../img/background2.png');
background-size: 100%;
background-repeat: no-repeat;
padding-bottom: 30px;
color: #fff;
box-shadow: 0px 2px 3px #CCC;
height: 509px;
}

.panel {
background: white;
padding: 30px;
margin: 40px auto 20px auto;
border-radius: 5px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
-moz-background-clip: padding;
-webkit-background-clip: padding-box;
background-clip: padding-box;
box-shadow: 0px 1px 5px rgba(0, 0, 0, .2);
-moz-box-shadow: 0px 1px 5px rgba(0,0,0,.2);
-webkit-box-shadow: 0px 1px 5px rgba(0, 0, 0, .2);
overflow: auto;
}

.panel * {
font-family: "Helvetica", Verdana, Arial, sans-serif;
font-size: 14px;
text-align: left;
}

.panel small a {
font-size: 13px;
}

.panel input, .panel textarea {
width:325px;
}

.panel .button, .panel button {
width: 347px;
height: 41px;
display: inline;
margin-top: 5px;
background: -moz-linear-gradient(  #00BF02,  #007F01);
background: -webkit-linear-gradient(  #00BF02,   #007F01);
background: -moz-linear-gradient(  #00BF02,   #007F01);
background: -ms-linear-gradient(#00BF02, #007F01);
background: linear-gradient(#00BF02, #007F01);
border-width: 0;
border-top: 1px solid #00FF03;
border-radius: 5px;
color: white;
text-shadow: 0px -2px 0 #008F01;
text-align: center;
font-size: 14px;
font-weight: 800;
cursor: pointer; 
box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.panel h2 {
border-bottom: 1px solid #ddd;
padding-bottom: 10px;
font-size:20px;
}

.panel ::-webkit-input-placeholder {
color:    #bbb;
}
.panel :-moz-placeholder {
color:    #bbb;
}

.panel .col {
width: 350px;
padding-bottom: 0;
}

.panel .col.right {
border-left: 1px solid #ddd;
width: 349px;
padding-left: 20px;
padding-right:0;
margin-right:0;
}

.panel span {
line-height: 24px;
}

.center {
text-align: center;
padding:10px;
line-height: 26px;
font-weight: bold;
}
