.timer {
width: 400px;
text-align: center;
left: 50%;
margin-left: -200px;
height: 100px;
position: fixed;
top: 50%;
     margin-top: -50px;
}

.line {
padding-bottom: 20px;
}

.status i {
padding: 10px;
height: 0px;
font-size: 0;
line-height: 0;
border-radius: 10px;
margin-left: -20px;
position: absolute;
}


.status .red {
  background-color: #b22;
}
.status .green {
  background-color: #2b2;
}

.button {
width: 79px;
height: 41px;
display: inline;
position: relative;
background: -moz-linear-gradient(#00BF02, #007F01);
background: -webkit-linear-gradient(#00BF02, #007F01);
background: -moz-linear-gradient(#00BF02, #007F01);
background: -ms-linear-gradient(#00BF02, #007F01);
background: linear-gradient(#00BF02, #007F01);
border-width: 0;
border-top: 1px solid #00FF03;
border-radius: 5px;
color: #fff;
text-shadow: 0px -2px 0 #008f01;
font-size: 16px;
font-weight: 800;
cursor: pointer;
padding: 20px;
top: 30px;
box-shadow: 3px 3px 5px rgba(0,0,0,0.5);
}


.stop
{

background: -moz-linear-gradient(#bf0000, #7f0000);
background: -webkit-linear-gradient(#bf0000, #7f0000);
background: -moz-linear-gradient(#bf0000, #7F0000);
background: -ms-linear-gradient(#bf0000, #7f0000);
background: linear-gradient(#bf0000, #7f0000);
border-width: 0;
border-top: 1px solid #f00;
text-shadow: 0px -2px 0 #8f0000;
}
.grey {
background: -moz-linear-gradient(#bfbfbf, #7f7f7f);
background: -webkit-linear-gradient(#bfbfbf, #7f7f7f);
background: -moz-linear-gradient(#bfbfbf, #7F7f7f);
background: -ms-linear-gradient(#bfbfbf, #7f7f7f);
background: linear-gradient(#bfbfbf, #7f7f7f);
border-width: 0;
border-top: 1px solid #fff;
text-shadow: 0px -2Px 0 #8f8f8f;
cursor: default;
}
