.timer {
width: 400px;
text-align: center;
left: 50%;
margin-left: -200px;
height: 100px;
position: fixed;
top: 50%;
     margin-top: -50px;
}

.line {
padding-bottom: 20px;
}

.status i {
padding: 10px;
height: 0px;
font-size: 0;
line-height: 0;
border-radius: 10px;
margin-left: -20px;
position: absolute;
}


.status .red {
  background-color: #b22;
}
.status .green {
  background-color: #2b2;
}

