.tip {
position: fixed;
background: rgba(0,0,0,0.8);
color: #fff;
padding: 10px;
border-radius:5px;
z-index: 10;
display:none;
height: 20px;
}

.charTip {
height: auto;
width: auto;
position: absolute;
}


.charTip ul {
left: 5px;
width: 180px;
float:left;
}

.charTip img {
padding: 5px;
float: left;
}

