.tip {
position: fixed;
background: rgba(0,0,0,0.8);
color: #fff;
padding: 10px;
border-radius:5px;
z-index: 10;
display:none;
height: 20px;
}

.charTip {
height: 90px;
width: 200px;
position: absolute;
}


.charTip ul {
left: 20px;
position: relative;
}

.charTip img {
padding: 5px;
float: left;
}

