{% extends "base.html" %}
{% block title %}Admin{% endblock %}
{% block includes %}
<link rel="stylesheet" type="text/css" href="/static/css/buttons.css" />
{% endblock %}
{% block content %}
<h1>Admin</h1>
  <a href="{{ handler.admin.get_stats }}" class="silver button">Stats</a>
  <a href="{{ handler.admin.get_news }}" class="silver button">News</a>
  <a href="{{ handler.admin.get_user }}" class="silver button">Users</a>
  <a href="{{ handler.admin.get_faq }}" class="silver button">FAQ</a>
{% endblock %}
