{% extends "base.html" %}
{% block title %}{{ char.name }}{% endblock %}
{% block includes %}
<link rel="stylesheet" type="text/css" href="/static/css/chars.css"/>
{% endblock %}
{% block content %}
<div class="col narrow">
  <div class="charPic">
    <img src="{{ char.avatar }}">
  </div>
</div>
<div class="col wide">
  <h3>{{ char.name }}</h3>
  <ul>
    <li>Server: {{ char.server }}
    {% if char.level %}
    <li>Level: {{ char.level }}
    {% endif %}
    {% if char.faction  %}
    <li>Faction: {{ char.faction }}
    {% endif %}
    {% if char.charclass %}
    <li>Class: {{ char.charclass }}
    {% endif %}
    {% if char.race %}
    <li>Race: {{ char.race }}
    {% endif %}
    {% if char.item_level %}
    <li>Equipment level: {{ char.item_level }}
    {% endif %}
  </ul>
</div>
{% endblock %}
