{% extends "base.html" %}
{% set title='Password Reset for QuestCompanions'%}
{% block html %}
  Greetings Hero,<br>
  <br>
  You're receiving this email as you appear to have forgotten the password for your QuestCompanions account, {{ user.username }}.<br>
  <br>
  If you were the one who put in this request, simply <a href="https://questcompanions.com{{ handler.auth.get_reset.url(code=code) }}">click this link<a> or go to https://questcompanions.com{{ handler.auth.get_reset.url(code=code) }} to reset your password.<br>
  <br>
  If you received this email in error, simply ignore it.
{% endblock %}
{% block text %}
  Greetings Hero,
  
  You're receiving this email as you appear to have forgotten the password for your QuestCompanions account, {{ user.username }}.
  
  If you were the one who put in this request, simply go to https://questcompanions.com{{ handler.auth.get_reset.url(code=code) }} to reset your password.
  
  If you received this email in error, simply ignore it.
{% endblock %}
