{% extends "base.html" %}
{% set title='New Job Notification for QuestCompanions'%}
{% block html %}
  Your character {{ char.name }}{% if char.server != None %} on server {{ char.server }}{% endif %} is eligible for a new job.<br>
  <br>
  Bidding starts at {{ job.max_pay }}<br>
  Description: {{ job.desc }}<br>
  <br>
  <a href="https://questcompanions.com{{ handler.job.get_index.url(job.id) }}">Check the job out here!</a>
{% endblock %}
{% block text %}
Your character {{ char.name }}{% if char.server != None %} on server {{ char.server }}{% endif %} is eligible for a new job.

Bidding starts at {{ job.max_pay }}
Description: {{ job.desc }}

Check the job out at https://questcompanions.com{{ handler.job.get_index.url(job.id) }}
{% endblock %}
