<!DOCTYPE HTML>
<head>
<title>{% block title %}{% endblock %} -- QuestCompanions</title>
<link rel="stylesheet" type="text/css" href="/static/css/core.css"/>
<link rel="stylesheet" type="text/css" href="/static/css/head.css"/>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script src="/rpc.js"></script>
<script src="/scripts/footer.js"></script>
{% block includes %}{% endblock %}
</head>
<body>
<div class="header">
  <div class="logo"></div><div class="logotype"></div>
  <div class="nav">
  	{% if not user %}
  		<a class="button" href="/auth">Log in / Create an account</a>
  	{% endif %}
    {% for item in navigation %}
      <a class="button" href="{{ item.href }}">{{ item.title }}</a>
    {% endfor %}
  	{% if user %}
  		<a class="button" href="/auth/logout">Log out</a>
  	{% endif %}
  </div>
</div>
<div class="content">
{% block content %}{% endblock %}
</div>
<div class="footer">
{% for item in footer %}
  <a href="{{ item.href }}">{{ item.title }}</a>
{% endfor %}
</div>
</body>
    
