<!DOCTYPE HTML>
<head>
<title>{% block title %}{% endblock %} — QuestCompanions</title>
<link rel="stylesheet" type="text/css" href="/static/css/core.css"/>
<link rel="stylesheet" type="text/css" href="/static/css/head.css"/>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script src="/scripts/footer.js"></script>
<script src="/rpc.js"></script>
<script>$csrf = '{{ session['csrf'] }}';</script>
{% block includes %}{% endblock %}
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-28034878-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
<script type="text/javascript">
    (function(d,c){var a,b,g,e;a=d.createElement("script");a.type="text/javascript";
    a.async=!0;a.src=("https:"===d.location.protocol?"https:":"http:")+
    '//api.mixpanel.com/site_media/js/api/mixpanel.2.js';b=d.getElementsByTagName("script")[0];
    b.parentNode.insertBefore(a,b);c._i=[];c.init=function(a,d,f){var b=c;
    "undefined"!==typeof f?b=c[f]=[]:f="mixpanel";g=['disable','track','track_pageview',
    'track_links','track_forms','register','register_once','unregister','identify',
    'name_tag','set_config'];
    for(e=0;e<g.length;e++)(function(a){b[a]=function(){b.push([a].concat(
    Array.prototype.slice.call(arguments,0)))}})(g[e]);c._i.push([a,d,f])};window.mixpanel=c}
    )(document,[]);
    mixpanel.init("d86dc866a8c63bf7593bd3bda343237a");
    {% if session.user %}mixpanel.identify('{{ session.user.username.replace('\\', '\\\\').replace('\'', '\\\'').replace('\n', '\\n') }}')//'{% endif %}
</script>
</head>
<body>
{% if error or alert %}
<div class="alertPop {% if error %}error{% else %}alert{% endif %}"> 
<script src="/scripts/errors.js"></script> 
{% if error %}{{ error }}{% else %}{{ alert }}{% endif %} <div class="errKill">X</div>
</div> 
{% endif %}
<div class="header">
  <div class="logo" onclick="window.location = '/';"></div><div class="logotype" onclick="window.location = '/';"></div>
  <div class="nav">
    {% for item in navigation %}
      <a class="tab" href="{{ item.href }}">{{ item.title }}</a>
    {% endfor %}
  	{% if session.user %}
  		<a class="tab" href="{{ handler.user.get_index.url(session.user.id) }}">{{ session.user.username }}</a>
  		{% if session.user.admin %}
	  		<a class="tab" href="{{ handler.admin.get_index }}">Admin</a>
	  	{% endif %}
      <a class="tab" href="{{ handler.gold.get_index }}">Gold</a>
      <a class="tab" href="{{ handler.invite.get_index }}">Invite Your Friends</a>
      <a class="tab" href="{{ handler.index.get_faq }}">FAQ</a>
      <a class="tab" href="{{ handler.index.get_support }}">Support</a>
  		<a class="tab" href="{{ handler.auth.get_logout }}">Log out</a>
  	{% endif %}
  </div>
</div>
     
      
<div class="content">
{% block content %}{% endblock %}
<div style="clear:both"></div>
</div>
<div class="footer">
<a href="{{ handler.legal.get_privacy }}">Privacy Policy</a> 
  <a href="{{ handler.legal.get_tos }}">Terms of Service</a> 
{% for item in footer %}
  <a href="{{ item.href }}">{{ item.title }}</a>
{% endfor %}
</div>
<script type="text/javascript">
var _sf_async_config={uid:32235,domain:"questcompanions.com"};
(function(){
  function loadChartbeat() {
    window._sf_endpt=(new Date()).getTime();
    var e = document.createElement('script');
    e.setAttribute('language', 'javascript');
    e.setAttribute('type', 'text/javascript');
    e.setAttribute('src',
       (("https:" == document.location.protocol) ? "https://a248.e.akamai.net/chartbeat.download.akamai.com/102508/" : "http://static.chartbeat.com/") +
       "js/chartbeat.js");
    document.body.appendChild(e);
  }
  var oldonload = window.onload;
  window.onload = (typeof window.onload != 'function') ?
     loadChartbeat : function() { oldonload(); loadChartbeat(); };
})();

</script>
</body>
    
