{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block includes %}
<link rel="stylesheet" type="text/css" href="/static/css/news.css"/>
{% endblock %}
{% block content %}
<div class="col wide">
  <div class="back"> Welcome back, <span class="feature">{{ session.user.username }}</span></div>
  <a href="{{ handler.job.get_create }}">Post a job</a>
</div>
<div class="col narrow">
  <div class="news">
    {% for item in news %}
    <div class="item">  
      <a class="title" href="{{ handler.news.get_index.url(item.id) }}">{{ item.headline }}</a>
      <div class="story">{{ item.story|truncate(length=255, killwords=False, end="...") }}</div>
    </div>
   {% endfor  %}
  </div>
</div>

{% endblock %}
