{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block includes %}
<link rel="stylesheet" type="text/css" href="/static/css/news.css"/>
<link rel="stylesheet" type="text/css" href="/static/css/jobs.css" />
<link rel="stylesheet" type="text/css" href="/static/css/tooltip.css" />
<script src="/scripts/tooltip.js"></script>
{% endblock %}
{% block bodyclass %}index{% endblock %}
{% block content %}
<div class="col wide">
  <h3 class="back"> Welcome back, {{ session.user.username }}</h3>
  <p>
  <a href="{{ handler.job.get_create }}" class="button">Post a job</a> or <a href="{{ handler.job.get_index }}" class="button">list all jobs</a>
  </p>
  <h3>Your jobs</h3>
  <ul>
{% for job in jobs if job.user_id == session.user.id and job.completed == false%}
		<a href="{{ handler.job.get_index.url(job.id) }}"><li class="job">{{ job.char.imagelink()|safe }} {{ job.desc }} &ndash; {{ job.gamename() }}{% if job.details %}: {{ job.details|truncate(length=100, killwords=False, end="...") }}{% endif %}{% if job.bids and not job.accepted_date%} <span class=hasBids>This job has bids </span>{% endif %} {% if job.accepted_date %}<span class="hasBids">You haven't completed this job</span>{%endif%}</li></a>
{% endfor %}
</ul>

</div>
<div class="col narrow right">
  <div class="news">
    {% for item in news %}
    <div class="item">  
      <a class="title" href="{{ handler.news.get_index.url(item.id) }}">{{ item.headline }}</a>
      <div class="story">{{ item.story_markdown|truncate(length=255, killwords=False, end="...")|safe }}</div>
    </div>
   {% endfor  %}
  </div>
</div>

{% endblock %}
