{% extends "loggedOut.html" %}
{% block title %}Login{% endblock %}
{% block content %}
    <div id="loginForm" class="col left">
      <form action="{{ handler.auth.post_login }}" method="POST">$CSRF$
        <input name="username" type="text" placeholder="Username" value="{{ username }}">
        <br/>
        <input name="password" type="password" placeholder="Password">
        <br/>
        <button name="submit">Log in</button>
      </form>
    </div>
    <div id="loginInterest" class="col right">
      <span>QuestCompanions isn't quite ready yet, but drop us an<br />email address and we'll let you know when it is.</span>
      <form action="{{ handler.auth.post_interest }}" method="POST">$CSRF$
        <input name="email" type="text" placeholder="Email Address" value="{{ email }}">
        <button name="submit">Register</button>
      </form>
    </div>
{% endblock %}
