{% extends "loggedOut.html" %}
{% block title %}Login{% endblock %}
{% block includes %}
<script src="/scripts/landing.js"></script>
{% endblock %}
{% block content %}
<script type="text/javascript">
	mixpanel.track("Landing Page Loaded")
</script>
    <div class="panel">
      <div id="loginForm" class="col left">
        <h2>Log in</h2>
        <form action="{{ handler.auth.post_login }}" method="POST">$CSRF$
          <input name="username" type="text" placeholder="Username" value="{{ username }}">
          <br/>
          <input name="password" type="password" placeholder="Password">
          <br/>
          <button name="submit" onClick="mixpanel.track('User Login')">Log in</button>
        </form><br>
        <small><a href="{{ handler.auth.get_forgot }}">Forgot your password?</a></small>
      </div>
      <div id="loginInterest" class="col right">
        <h2>Enlist</h2>
        <span>QuestCompanions isn't quite ready yet, but drop us an email address and we'll let you know when it is.</span>
          <input id="email" name="email" type="text" placeholder="Email Address" value="{{ email }}"><br>
          <button id="enlist">Enlist</button>
      </div>
    </div>
{% endblock %}
