{% extends "base.html" %}
{% block title %}Post a New Job{% endblock %}
{% block includes %}
<link rel="stylesheet" type="text/css" href="/static/css/forms.css"/>
<link rel="stylesheet" type="text/css" href="/static/css/buttons.css">
{% endblock %}
{% block content %}
  <h1>Post a New Job</h1>
  <div class="form">
    <form action="" method="POST" id="job-form">
      <div class="form-row">
        <label>Game</label>
        <select id="game" name="game">
          <option value="wow">World of Warcraft</option>
        </select>
      </div>
      <div class="form-row">
        <label>Server</label>
        <select id="server" name="server">
          <option value="zuljin">Zul'Jin</option>
        </select>
      </div>
      <div class="form-row">
        <label>Character</label>
        <select id="character" name="character">
          <option value="euryn">Euryn</option>
        </select>
      </div>
      <div class="form-row">&nbsp;</div>
      <div class="form-row">
        <label>Description</label>
        <input type="text" id="description" name="description" maxlength="140" autocomplete="off" />
      </div>
      <div class="form-row">
        <label>Time Allotment</label>
        <input type="time" id="time-required" name="time-required" />
      </div>
      <div class="form-row">
        <label>Hourly Rate</label>
        <input type="text" id="hourly-rate" name="hourly-rate" />
      </div>
      <div class="form-row">&nbsp;</div>
      <div class="form-row">
        <label>Desired faction</label>
        <select id="faction" name="faction">
          <option value="horde">Horde</option>
          <option value="alliance">Alliance</option>
        </select>
      </div>
      <div class="form-row">
        <label>Desired race</label>
        <select id="race" name="race">
          <option value="race">Some Race</option>
          <option value="something">Some Other Race</option>
        </select>
      </div>
      <div class="form-row">
        <label>Other details</label>
	<textarea name="details" id="details" maxlength="400"></textarea>
      </div>
      <button type="submit" class="submit-button">Post job!</button>
    </form>
  </div>
{% endblock %}
