{% extends "base.html" %}
{% block title %}Support{% endblock %}
{% block includes %}
<link rel="stylesheet" type="text/css" href="/static/css/forms.css"/>
<link rel="stylesheet" type="text/css" href="/static/css/buttons.css"/>
{% endblock %}
{% block content %}
<form action="{{ handler.index.post_support_create }}" method="POST">$CSRF$
 <h2> Message:</h2>
 <textarea class="support" name="message" cols="40" rows="10" placeholder="Enter your message here"></textarea><br>
<button type="submit" class="button" value="Send">Send</button>
</form>
{% endblock %}
