<!DOCTYPE html>
<head>
<link rel="stylesheet" type="text/css" href="/static/css/core.css">
<link rel="stylesheet" type="text/css" href="/static/css/timer.css">
<link rel="stylesheet" type="text/css" href="/static/css/buttons.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script src="/scripts/timer.js"></script>
</head>
<body>
<div class="timer">
<div class="status">
<div class="quester line">
<i class="red"> </i>{{ user.name }}
</div>
<div class="companion line">
<i class="red"> </i>{{ companion.name }}
</div>
</div>
<div class="clock">
<span class="hours">00</span> : <span class="minutes">00</span> : <span class="seconds">00</span></div>
<div class="starter button bBig" >
Start Timer
</div>
</div>
</body>

