{% extends "base.html" %}
{% block title %}{{ user.username if user else 'Error' }}{% endblock %}
{% block includes %}
<link rel="stylesheet" type="text/css" href="/static/css/users.css"/>
{% endblock %}
{% block content %}
  <div class="col narrow">
    <div class="userPic">
      <img src="{{ user.pic if user.pic else '/static/img/notFound.png' }}">
    </div>
    <div class="contact block">
      <h3>Contact</h3>
      {#{% for link in user.contact %}
        <a class="contact" href="{{ link.href }}">{{ link.type }}</a>
      {% endfor %}#}
    </div>
  </div>
  <div class="col wide">
    <h1>{{ user.username }}</h1>
    <div class="chars block">
    <h3>Characters</h3>
    <ul>
      {% if user == session.user %}
        <li><a href="{{ handler.char.get_create.url() }}">Add a character</a></li>
      {% endif %}
      {% for char in user.characters %}
        <li><a href="{{ handler.char.get_index.url(char.id) }}">{{ char.name }}</a></li>
      {% endfor %}
    </div>
  </div>
{% endblock %}
