{% extends "base.html" %}
{% block title %}Post a New Job{% endblock %}
{% block includes %}
<link rel="stylesheet" type="text/css" href="/static/css/forms.css"/>
<link rel="stylesheet" type="text/css" href="/static/css/buttons.css">
<link rel="stylesheet" type="text/css" href="/static/css/tooltip.css"/>
<script src="/scripts/validate.js"></script>
<script src="/scripts/tooltip.js"></script>
<style>
label {
width: 300px;
}
</style>
{% endblock %}
{% block content %}
  <h1>Post a New Job</h1>
  {% if chars == [] %}
  You have no characters.  <a href="{{ handler.char.get_create.url(return_to=handler.job.get_create) }}">Add one</a> to get started.
  {% else %}
  <div class="form">
    <form action="{{ handler.job.post_job_create }}" method="POST" id="job-form">$CSRF$
      <div class="form-row">
        <label class="charLabel">Character</label>
        <span class="selector">
        <select id="char" name="char">
          {% for char in chars %}
            <option value="{{ char.id }}">{{ char.name }} -- {{ char.gamename() }}</option>
          {% endfor %}
        </select>
        </span>
      </div>
      <div class="form-row">
        <label>Description</label>
        <input type="text" id="desc" name="desc" data-hint="Enter a short description of the job you want help with"  maxlength="140" autocomplete="off" required=true />
      </div>
      <div class="form-row">
        <label>Time Required (minutes)</label>
        <input type="time" id="time-required" name="time_reqd" data-maxValue="1000" data-hint="Enter a length of time you expect the job to take, in minutes" required=true />
      </div>
      <div class="form-row">
        <label>Max Payment</label>
        <input type="number" id="max-pay" name="max_pay" data-minValue="10" minPay=10 required=true data-gold="{{ gold }}" data-hint="Enter the maximum amount you want to pay. It has to be more then 10 gold" /> 
      </div>
      <div class="form-row">
        <label></label>
        <span>(You have {{ gold }} gold available{% if outstanding > 0 %} and {{ outstanding }} gold allocated to other jobs.  Cancel or complete your outstanding jobs to free up your gold{% endif %}. <a href="{{ handler.gold.get_buy }}">Add more here</a>)</span>
      </div>
      <div class="form-row">
        <label>Other details</label>
        <textarea name="details" id="details" maxlength="400"  data-hint="Enter any other information about the job you need."></textarea>
      </div>
      <button type="submit" class="bWide" onClick="mixpanel.track('Job Added', {'max_pay': $('.max_pay').val(), 'time': $('.time_reqd').val()})">Post job!</button>
    </form>
  </div>
  {% endif %}
{% endblock %}
