{% extends "base.html" %}
{% block title %}Post a New Job{% endblock %}
{% block includes %}
<link rel="stylesheet" type="text/css" href="/static/css/forms.css"/>
<link rel="stylesheet" type="text/css" href="/static/css/buttons.css">
{% endblock %}
{% block content %}
  <h1>Post a New Job</h1>
  {% if chars == [] %}
  You have no characters.  <a href="{{ handler.char.get_create }}">Add one</a> to get started.
  {% else %}
  <div class="form">
    <form action="{{ handler.job.post_job_create }}" method="POST" id="job-form">$CSRF$
      <div class="form-row">
        <label>Character</label>
        <select id="char" name="char">
          {% for char in chars %}
            <option value="{{ char.id }}">{{ char.name }} -- {{ char.gamename() }}</option>
          {% endfor %}
        </select>
      </div>
      <div class="form-row">&nbsp;</div>
      <div class="form-row">
        <label>Description</label>
        <input type="text" id="desc" name="desc" maxlength="140" autocomplete="off" />
      </div>
      <div class="form-row">
        <label>Time Allotment</label>
        <input type="time" id="time-required" name="time_reqd" />
      </div>
      <div class="form-row">
        <label>Max Payment</label>
        <input type="text" id="max-pay" name="max_pay" />
      </div>
      <div class="form-row">
        <label>Other details</label>
        <textarea name="details" id="details" maxlength="400"></textarea>
      </div>
      <button type="submit" class="submit-button">Post job!</button>
    </form>
  </div>
  {% endif %}
{% endblock %}
