{% extends "base.html" %}
{% block title %}All jobs{% endblock %}
{% block includes %}
<link rel="stylesheet" type="text/css" href="/static/css/news.css"/>
<link rel="stylesheet" type="text/css" href="/static/css/jobs.css"/>
<link rel="stylesheet" type="text/css" href="/static/css/buttons.css" />
<link rel="stylesheet" type="text/css" href="/static/css/tooltip.css"/>
<script src="/scripts/tooltip.js"></script>
{% endblock %}
{% block bodyclass %}jobs{% endblock %}
{% block content %}
<h2>Jobs</h2>
<a href="{{ handler.job.get_create }}" class="silver button">Post a job</a><br>
<br>
{% if len(jobs) == 0 %}
	There are no posted jobs that your characters are eligible for.
{% else %}
<ul>
	{% for job in jobs %}
		<a href="{{ handler.job.get_index.url(job.id) }}"><li class="job">{{ job.char.imagelink()|safe }} {{ job.desc }} &ndash; {{ job.gamename() }}{% if job.details %}: {{ job.details|truncate(length=100, killwords=False, end="...") }}{% endif %}</li></a>
	{% endfor %}
</ul>
{% endif %}
{% endblock %}
