{% extends "base.html" %}
{% block title %}{{ user.username if user else 'Error' }}{% endblock %}
{% block includes %}
<link rel="stylesheet" type="text/css" href="/static/css/users.css"/>
<link rel="stylesheet" type="text/css" href="/static/css/forms.css"/>
<link rel="stylesheet" type="text/css" href="/static/css/buttons.css"/>
{% endblock %}
{% block content %}
  <div class="col narrow">
    <div class="userPic">
      <img src="{{ user.pic if user.pic else '/static/img/notFound.png' }}">
    </div>
    <div class="contact block">
      <h3>Contact</h3>
      {% if user == session.user %}
        <form action="{{ handler.user.post_index.url(user.id) }}" method="POST">$CSRF$
          <label class="small">Phone number:</label> <input type="tel" pattern="[\+]?[\(]?\d{1,5}[\)]?[\s|\-]?\d{1,3}[\s|\-]?\d{3}[\s|\-]?\d{3,4}" name="phone_number" value="{{ user.phone_number if user.phone_number else '' }}">
          {% if user.phone_number %}
            {% if user.phone_verified %}
              <span style="color: green">Verified</span>
            {% else %}
              <span style="color: red">Unverified</span> &ndash; <a href="{{ handler.user.get_verify }}">Verify here to receive notifications and enable two-factor auth.</a>
            {% endif %}
          {% endif %}<br>
          <button type="submit" class="center">Save</button>
        </form>
      {% endif %}
    </div>
  </div>
  <div class="col wide">
    <h1>{{ user.username }}</h1>
    <div class="chars block">
    <h3>Characters</h3>
    <ul>
      {% if user == session.user %}
        <li><a href="{{ handler.char.get_create.url() }}">Add a character</a></li>
      {% endif %}
      {% for char in user.characters %}
        <li><a href="{{ handler.char.get_index.url(char.id) }}">{{ char.name }}</a></li>
      {% endfor %}
    </div>
  </div>
{% endblock %}
