{% extends "base.html" %}
{% block title %}{{ user.username if user else 'Error' }}{% endblock %}
{% block includes %}
<link rel="stylesheet" type="text/css" href="/static/css/users.css"/>
<link rel="stylesheet" type="text/css" href="/static/css/forms.css"/>
<link rel="stylesheet" type="text/css" href="/static/css/buttons.css"/>
<link rel="stylesheet" type="text/css" href="/static/css/tooltip.css"/>
<script src="/scripts/tooltip.js"></script>
{% endblock %}
{% block content %}
  <div class="col narrow left">
    <div class="userPic">
      <img src="{{ user.pic if user.pic else '/static/img/notFound.png' }}">
    </div>
      {% if user == session.user %}
    <div class="contact block">
      <h3>Your Contact Info</h3>
        If you'd like to receive notifications when your characters are eligible for a new job, enter your information below.<br>
        <form action="{{ handler.user.post_index.url(user.id) }}" method="POST">$CSRF$
          <label class="small">Phone number:</label> <input type="tel" pattern="[\+]?[\(]?\d{1,5}[\)]?[\s|\-]?\d{1,3}[\s|\-]?\d{3}[\s|\-]?\d{3,4}" name="phone_number" value="{{ user.phone_number if user.phone_number else '' }}">
          {% if user.phone_number %}
            {% if user.phone_verified %}
              <span style="color: green">Verified</span>
            {% else %}
              <span style="color: red">Unverified</span> &ndash; <a href="{{ handler.user.get_verify }}">Verify here to receive notifications.</a>
            {% endif %}
          {% endif %}<br>
          <label class="small">Email:</label> <input type="email" name="email" value="{{ user.email if user.email else '' }}">
          {% if user.email %}
            {% if user.email_verified %}
              <span style="color: green">Verified</span>
            {% else %}
              <span style="color: red">Unverified</span> &ndash; Check your email (make sure it's not in spam) or <a href="{{ handler.user.get_resend_email_verify }}">click here to resend.</a>
            {% endif %}
          {% endif %}<br>
          <br>
          <label for="email_notify" class="inline"> Email notifications</label> <input type="checkbox" name="email_notify"{% if user.email_notifications %}checked{% endif %}><br>
          <label for="phone_notify" class="inline">Text message notifications</label> <input type="checkbox" name="phone_notify" class="inline" {% if user.phone_notifications %}checked{% endif %}><br>
          <button type="submit" class="">Save</button><br>
          <br>
          <small>Your privacy is of paramount importance to us and your information will never leave our system or be exposed to other users.</small>
        </form>
    </div>
      {% endif %}
  </div>
  <div class="col wide right">
    <h1>{{ user.username }}</h1>
    <div class="chars block">
    <h3>Characters</h3>
    {% if user == session.user %}
      <a href="{{ handler.char.get_create.url() }}" class="silver button">Add a character</a>
    {% endif %}
    <ul class="flat">
      {% for char in user.characters %}
        <li>{{ char.link()|safe }}</li>
      {% endfor %}
    </div>
    <div class="feedback block">
	    <h3>Feedback</h3>
	    <p>Average positive feedback score: {{ user.feedback_score }}%.</p>
	{% for feed in user.feedbacks %}
		<table>
			<tr>
				<td>
					{% if feed.helpful %}
					<span style="color: green">[+]</span>
					{% else %}
					<span style="color: red">[-]</span>
					{% endif %}
				</td>
				<td>
					{{ feed.body }}
				</td>
			</tr>
		</table>
	{% endfor %}
	
  	{% if false %}
    <form action="{{ handler.user.post_feedback_create.url(user.id) }}" method="POST">$CSRF$
  		<table>
  			<tr>
  				<td><label>Was this user helpful?</label></td>
  				<td><input type="checkbox" name="helpful"></td>
  			</tr>
  			<tr>
  				<td><label>Feedback</label></td>
  				<td><textarea name="body" cols="50" rows="5"></textarea></td>
  			</tr>
  		</table>
  		<button type="submit" class="center">Submit</button>
  	</form>
    {% endif %}
    </div>
  </div>
{% endblock %}
